@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@700&family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --heebo: 'Heebo', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --hue:0;
    --saturation:0%;
    --lightness:0%;
    --alpha:1;
    --blue: hsla(202, 71%, 52%, 1);
    --green: hsla(145, 63%, 42%, 1);
    --red: hsla(0, 79%, 63%, 1);
    --dark-blue: hsla(248, 35%, 8%, 1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
    font-weight: 500;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 clamp(0.625rem, -0.343rem + 4.131vw, 3.375rem);
    margin-top: clamp(0.813rem, 0.57rem + 1.033vw, 1.5rem) ;
    margin-bottom: clamp(3rem, 1.944rem + 4.507vw, 6rem); 
}
.hide-menu{
    display: none !important;
}
.header-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.9375rem;
    background-color: hsla(248, 35%, 8%, 1);
    padding: 1.625rem;
    width: 80%;
}
.header-menu .menu-item{
    margin-bottom: 0.625rem;
}
.header-name, .footer-name{
    font-family: var(--heebo);
}
.footer-name, .header-name{
    font-weight: 800;
}
.header-name{
    font-size:clamp(1.5rem, 1.236rem + 1.127vw, 2.25rem);
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 20%), var(--alpha));
}

.header-question{
    font-size: clamp(0.75rem, 0.618rem + 0.563vw, 1.125rem);
    color: var(--blue);
    margin-bottom: clamp(0rem, -0.352rem + 1.502vw, 1rem);
    margin-left: clamp(2.5rem, -2.716rem + 22.254vw, 17.313rem);
}
.header500-24{
    font-size: clamp(1.5rem, 0.972rem + 2.254vw, 3rem);
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 20%), var(--alpha));
    line-height: 2.25rem;
}
h1:nth-child(3){
    width: clamp(17.313rem, 11.459rem + 24.977vw, 33.938rem);
    margin-bottom: clamp(0.938rem, 0.343rem + 2.535vw, 2.625rem);
    margin-left: clamp(2.5rem, -2.716rem + 22.254vw, 17.313rem);
    line-height: clamp(2.25rem, 1.458rem + 3.38vw, 4.5rem);
}
.team-image{
    width: clamp(21.75rem, 0.095rem + 92.394vw, 83.25rem);
    height: clamp(9.063rem, 4.463rem + 19.624vw, 22.125rem);
    /* object-fit: contain; */
    border-radius: 1.125rem;
    margin: 0 clamp(0.625rem, -0.343rem + 4.131vw, 3.375rem);
    margin-bottom: clamp(1.375rem, 0.935rem + 1.878vw, 2.625rem);
}
h1:nth-child(5){
    width: clamp(17.313rem, 15.354rem + 8.357vw, 22.875rem);
    line-height: clamp(2.25rem, 1.458rem + 3.38vw, 4.5rem);
    margin-bottom: clamp(2.063rem, 1.864rem + 0.845vw, 2.625rem);
    margin-left: clamp(2.5rem, -2.716rem + 22.254vw, 17.313rem);
}
#paragraph1{
    margin-bottom: clamp(1.938rem, 1.695rem + 1.033vw, 2.625rem);
    width: clamp(17.188rem, 15.185rem + 8.545vw, 22.875rem);
    margin-left: clamp(2.5rem, -2.716rem + 22.254vw, 17.313rem);
}
#contact-section1{
    margin-left: clamp(2.5rem, -2.716rem + 22.254vw, 17.313rem);
    margin-bottom: clamp(6.375rem, 4.13rem + 9.577vw, 12.75rem);
}
.paragraph400-16, .paragraph400-12, .menu-item{
    font-weight: 400;
}
.paragraph400-12{
    font-size: clamp(0.75rem, 0.618rem + 0.563vw, 1.125rem);
    line-height: 1.125rem;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 31%), var(--alpha));  
    margin-bottom: 1.875rem;
}
.contact-question{
    font-size: clamp(0.625rem, 0.537rem + 0.376vw, 0.875rem);
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 51%), var(--alpha));
    text-align: left;
    margin-bottom: 0.5625rem;
}
#story-section >{
    margin-left: clamp(2.5rem, -2.716rem + 22.254vw, 17.313rem);
}
.input-container{
    display: flex;
    width: clamp(18.188rem, 16.889rem + 5.54vw, 21.875rem);
    padding: 0.2rem 0;
    padding-left: 1.1875rem;
    margin-bottom: 6.625rem;
    background-color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 95%), var(--alpha));
    border-radius: 0.75rem;
}
#email-input{
    border: none;
    width: 72%;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 74%), var(--alpha));
}
.blue-submit{
    font-size: clamp(0.875rem, 0.787rem + 0.376vw, 1.125rem);
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 95%), var(--alpha));    background-color: var(--blue);
    padding: 0.75rem 1.3125rem;
    border-radius: 0.75rem;
    border: none;
    align-self: flex-start;
}
.offers-header{
    margin-bottom: clamp(5.75rem, 5.838rem + -0.376vw, 5.5rem);
    margin-left: clamp(3.125rem, 0.594rem + 10.798vw, 10.313rem);
    line-height: clamp(2.25rem, 1.854rem + 1.69vw, 3.375rem);
}
.offers{
    margin-left: clamp(2.125rem, -1.528rem + 15.587vw, 12.5rem);
    margin-bottom: clamp(9.125rem, 7.056rem + 8.826vw, 15rem);
    margin-right: clamp(0.625rem, -3.644rem + 18.216vw, 12.75rem);
}
.offer .icon{
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 100%), var(--alpha));
    padding: 1.25rem;
    width: 4.1875rem;
    border-radius: 1rem;
    margin-bottom: 2.1875rem;
}
.offer .header{
    margin-bottom: 1.5rem;
}
.offer .paragraph{
    margin-bottom: 1.875rem;
    width: 17.0625rem;
}
.offer .button{
    margin-bottom: 8.125rem;
}
.edit-icon{
    background-color: var(--blue);
}
.code-icon{
    background-color: var(--green);
}
.storage-icon{
    background-color: var(--red);
}
#design-header{
    margin-left: clamp(2.813rem, 0.172rem + 11.268vw, 10.313rem);
    line-height: clamp(2.25rem, 1.854rem + 1.69vw, 3.375rem);
    margin-bottom: clamp(3rem, -0.081rem + 13.146vw, 11.75rem);
}
.apps{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1.875rem;
    margin: 0 clamp(0.625rem, -2.83rem + 14.742vw, 10.438rem);
    margin-bottom: clamp(0rem, -4.82rem + 20.563vw, 1.288rem);
}
.app{
    margin-bottom: 2.25rem;
}
.header700-24, footer p, footer p a {
    font-weight: 700;
}
.header700-24{
    font-size:1.5rem ;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 20%), var(--alpha));
}
.paragraph400-16{
    font-size: 1rem;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 31%), var(--alpha));  
}
input[type=button] {
    border: none;
    font-size: 1rem;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 51%), var(--alpha));
    background-color: hsla(0, 0%, 88%, 1);
    text-align: left;
    width: 7.25rem;
    padding: 0.5625rem 0.75rem;
    border-radius: 0.75rem;
}
#blue-button{
    border: none;
    font-size: 1rem;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 100%), var(--alpha));    background-color: var(--blue);
    text-align: left;
    width: 7.25rem;
    padding: 0.5625rem 0.75rem;
    border-radius: 0.75rem;
}
.app-image{
    border-radius: 1.5rem;
    width: clamp(21.938rem, 17.668rem + 18.216vw, 34.063rem);
}
.header300-12{
    font-weight: 300;
    font-size: clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem);
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 51%), var(--alpha));
}
.header500-18{
    font-size: clamp(1.125rem, 0.993rem + 0.563vw, 1.5rem);
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 20%), var(--alpha));
}
.see-more{
    font-size: clamp(1.125rem, 0.993rem + 0.563vw, 1.5rem);
    color: var(--blue);
    display: flex;
    align-items: center;
    margin-left: clamp(0.625rem, -2.896rem + 15.023vw, 10.625rem);
    margin-bottom: 2.25rem;
}
.see-more p{
    margin-right: 0.75rem;
}
.red-header{
    color: var(--red);
    margin-bottom: 0.4375rem;
}
.header500-36{
    margin-bottom: 0.875rem;
    line-height: 3.375rem;
}
.header500-36{
    font-size: 2.25rem;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 20%), var(--alpha));
    margin-bottom: 0.875rem;
}
.team{
    margin-bottom: clamp(6.25rem, 4.137rem + 9.014vw, 12.25rem);
}
.team-infos{
    margin-bottom: 2.25rem;
    margin-left: clamp(0.625rem, -2.896rem + 15.023vw, 10.625rem);
}
.team-infos .paragraph400-16{
    width: 17.0625rem;
}
.team-members{
    display: flex;
    margin: 0 clamp(0.625rem, -2.896rem + 15.023vw, 10.625rem);
}
.members-vertical{
    display: flex;
    flex-direction: column;
    margin-left: clamp(0.563rem, 0.232rem + 1.408vw, 1.5rem);

}
.member2{
    margin-bottom: clamp(0.563rem, 0.232rem + 1.408vw, 1.5rem);
}
.member{
    width: 9.0625rem;
    border-radius: 1.5rem;
}
.member1{
    align-self: center;
    margin-right: 0.4rem;
}
.paragraph500-24{
    font-size: clamp(1.5rem, 1.236rem + 1.127vw, 2.25rem);
    line-height: clamp(2.25rem, 1.854rem + 1.69vw, 3.375rem);
    margin-left: clamp(0.625rem, -2.786rem + 14.554vw, 10.313rem);
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 20%), var(--alpha));
    font-style: normal;
    width: clamp(21.938rem, 9.041rem + 55.023vw, 58.563rem);
    margin-bottom: clamp(1.125rem, 0.729rem + 1.69vw, 2.25rem);

}
.member4-profile{
    display: flex;
    align-items: center;
    margin-left: clamp(0.625rem, -2.786rem + 14.554vw, 10.313rem);
    margin-bottom: clamp(6.438rem, 4.237rem + 9.39vw, 12.688rem);
}
.member4-image{
    width: 5.125rem;
    border-radius: 0.75rem;
    margin-right: 1.875rem;
}
.member4-name{
    font-size: 1.5rem;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 20%), var(--alpha));
}
.member4-role{
    font-size: 1.125rem;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 51%), var(--alpha));
}
footer{
    background-color: var(--dark-blue);
    padding-top: clamp(2.25rem, 2.03rem + 0.939vw, 2.875rem);
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}
.footer-menu, .edie-credentials, #contact-section2{
    padding-left: clamp(2.563rem, -0.232rem + 11.925vw, 10.5rem);
}
.menu-item{
    font-size: 1.125rem;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 100%), var(--alpha));
    text-align: left;
}
.footer-menu{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
.edie-credentials{
    margin-bottom: 4.0625rem;
}
.footer-name{
    font-size: 2.25rem;
    color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 95%), var(--alpha));    margin-bottom: 0.625rem;
}
.fa{
    background-color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + 95%), var(--alpha));    margin-right: 0.325rem;
}
.footer-paragraph{
    text-align: center;
}
.footer-paragraph, footer p a{
    font-family: var(--montserrat);
    font-size: 0.875rem;
    color: hsla(229, 19%, 77%, 1);
}
@media only screen and (min-width: 55.625rem){
    header{
        display: flex;
        align-items: center;
    }
    .header-menu{
        display: inline-flex;
        width: 43.9375rem;
        justify-content: space-between;
        flex-direction: row;
        background-color: transparent;
    }
    header .menu-icon{
        display: none;
    }
    .header-menu .menu-item{
        color: hsla(0, 0%, 20%, 1);
        font-weight: 500;
        font-size: 1.5rem;
    }
}
@media only screen and (min-width:75rem){
    
    #sections{
        display: flex;
    }
    .footer-paragraph{
        justify-self: flex-end;
        align-self: center;
    }
    .offers{
        display: flex;
        justify-content: space-between;
    }
    .apps{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1.25rem;
        margin-bottom: 3rem;
    }
    .team{
        display: flex;
        align-items: center;
    }
    /* .translate-up{
        transform: translateY(-5rem);
    } */
    .see-more p{
        text-align: end;
    }
}
@media only screen and (min-width:90rem){
    .offer .button{
        margin-bottom: 0rem;
    }
}
@media (prefers-reduced-motion){
    .hidden-left, .hidden-right{
        transition: none;
    }
}